.waAccess {
    position: fixed;
    width: auto;
    height: 60px;
    bottom: 40px;
    right: 40px;
    box-shadow: 0 0 6px rgb(232, 232, 232);
    border-radius: 50%;
    z-index: 100;
    @media only screen and (max-width: 600px) {
        left: 40px;
    }
}