.banner-section {
	margin: 0;
	text-align: center;
	.banner {
		height: 80%;
		margin-left: 8%;
		margin-right: 10%;
	}
}
.category-section {
	text-align: center;
	margin: 0;

	.wrapper-circle {
		text-align: center;
	}
	.circle {
		text-align: center;
		vertical-align: middle;
		width: 150px;
		height: 150px;

		background-color: white;
		border-radius: 50%;

		border: 1px solid #000;
	}
}
