.home {
	.banner-section {
		margin: 0;
		text-align: center;
		.banner {
			//height: 80vh;
			width: 80vw;
		}
	}
	.category-section {
		text-align: center;
		margin: 0;

		.wrapper-circle {
			text-align: center;
		}
		.circle {
			text-align: center;
			vertical-align: middle;
			width: 150px;
			height: 150px;

			background-color: white;
			border-radius: 50%;

			border: 1px solid #000;
		}
	}

	@media only screen and (max-width: 600px) {
		.banner-section {
			.banner {
				width: 100vw;
			}
		}
	}
}
