.footer {
	color: white;
	list-style: none;
	padding-top: 4vh;
	background-color: #ffac8e;

	position: relative;
	width: 100vw;
	bottom: 0px;

	ul {
		list-style: none;

		li {
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
}
